<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css" />
</head>
<body>
    <section id="about" class="about-section">
      <div class="container">
        <h2>About Me</h2>
        <div class="about-content">
          <div class="about-text" style="font-size: 1.3rem;">
            <p>
              Hi, I’m <span style="color: #ff7b54; font-size: 1.5rem; display: flex; text-align: center;">Aditya Singh,</span> A passionate third-year B.Tech student
              specializing in Computer Science with a focus on Artificial
              Intelligence and Machine Learning at Rungta College of Engineering
              and Technology. I’m a <b style="font-size: 1.5rem;">full-stack developer</b>, with experience in building dynamic, scalable, and
              user-friendly web applications. I’m also deeply interested in
              emerging technologies like Blockchain, Web3 and I enjoy experimenting with innovative solutions that
              solve real-world problems.
            </p>
            <p>
              Over time, I’ve worked on diverse projects, including women’s safety apps, decentralized investigative platforms, and payment gateway systems, and I’ve actively participated in hackathons and tech competitions. I thrive on learning, exploring new ideas, and turning concepts into meaningful products. My goal is to leverage my skills in AI, web development, and emerging tech to create impactful solutions that make the world safer and smarter.
            </p>
          </div>
        </div>
      </div>
    </section>
</body>
</html>