<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="skill.css">
</head>
<body style="background: linear-gradient(135deg, #111, #222)">
    <section id="skills" class="skills">
  <div class="container">
    <h2 class="section-title">Tech Stack</h2>

    <div class="skill-grid">

      <% const skills = [
        { name: "HTML", logo: "/images/html.png" },
        { name: "CSS", logo: "/images/css.jpg" },
        { name: "JavaScript", logo: "/images/js.jpg" },
        { name: "Node.js", logo: "/images/nodejs.jpg" },
        { name: "Express.js", logo: "/images/expressjs.jpg" },
        { name: "MongoDB", logo: "/images/monodb.jpg" },
        { name: "React", logo: "/images/react.png" },
        { name: "SQL", logo: "/images/sql.jpg" },
        { name: "EJS", logo: "/images/ejs.jpg" }
      ]; %>

      <% skills.forEach(skill => { %>
        <div class="skill-item">
          <img src="<%= skill.logo %>" alt="<%= skill.name %>">
          <span><%= skill.name %></span>
        </div>
      <% }) %>

    </div>
  </div>
</section>



</body>
</html>