* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {
  background: #111;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
}


.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff7b54;
}


.hamburger {
  display: none;    
  font-size: 2rem;
  color: white;
  cursor: pointer;
  user-select: none;
}




@media (max-width: 768px) {
  .hamburger {
    display: block;   
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    width: 100%;
    display: none;
    flex-direction: column;
    padding: 15px 0;
    gap: 15px;
    text-align: center;
  }

  .nav-links a {
    font-size: 1.2rem;
    padding: 10px 0;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }
}
